# requirements.txt

google.adk
google-cloud-aiplatform[adk,agent_engines]
google-cloud-bigquery
google-cloud-bigquery-storage
db-dtypes
cloudpickle
tabulate
pandas
pandas-gbq
python-dotenv
google-generativeai